body {
  background-color: #f5f5f5;
  min-width: 320px;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem 0;
  color: #888;
  font-size: 0.9rem;
}